<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.qc.seclass.rlm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.qc.seclass.rlm.searchReminderConfig" ></activity>
        <activity android:name="edu.qc.seclass.rlm.viewListConfig" />
        <activity android:name="edu.qc.seclass.rlm.viewReminderConfig" />
        <activity android:name="edu.qc.seclass.rlm.showListsConfig" />
        <activity android:name="edu.qc.seclass.rlm.showRemindersConfig" />
        <activity android:name="edu.qc.seclass.rlm.newReminderConfig" />
        <activity android:name="edu.qc.seclass.rlm.newListConfig" />
        <activity android:name="edu.qc.seclass.rlm.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>